---
title: 6degrees is your connected phonebook
description: The self-updating phonebook that cleans duplicates, integrates your social networks and backs itself up.
keywords: 6degrees, sixdegrees, sixdegreez, address book, phonebook, contacts, contacts manager, delete duplicates, dupe buster
---
<section class="section hero-primary">
  <div class="narrative">
    <h1>Stay connected, forever.</h1>
    <p>The self-updating phonebook that cleans duplicates, integrates your social networks and backs itself up.</p>
    <div class="download">
      <a href="https://play.google.com/store/apps/details?id=co.abhriya.sixdegreez" class="download-badge android" target="_blank">Download on the App Store</a>
    </div>
  </div>
  <%= image_tag 'phone_android.jpg', class: 'hero-image', height: 320, width: 640 %>
</section>
<section class="section hero-sub">
  <div class="narrative">
    <h1>Get your friends&rsquo; latest contact details.</h1>
    <p>Change your contact on your friends&rsquo; phones by just updating your own phone. When they change their details, you get it too.</p>
  </div>
  <%= image_tag 'hero_live_contacts.jpg', class: 'hero-image', height: 448, width: 688 %>
</section>
<section class="section hero-sub">
  <div class="narrative">
    <h1>Search and discover new contacts.</h1>
    <p>Find and connect to contacts of contacts through introductions by mutual friends.</p>
  </div>
  <%= image_tag 'hero_search.jpg', class: 'hero-image', height: 448, width: 688 %>
</section>
<section class="section hero-sub">
  <div class="narrative">
    <h1>Trust, hide and block for total privacy.</h1>
    <p>Make yourself or your contacts searchable by contacts of contacts selectively or not at all.</p>
  </div>
  <%= image_tag 'hero_privacy.jpg', class: 'hero-image', height: 448, width: 688 %>
</section>
<section class="section hero-sub">
  <div class="narrative">
    <h1>Merge and delete duplicates.</h1>
    <p>Smart algorithms detect duplicate contact information which you can merge or delete.</p>
  </div>
  <%= image_tag 'hero_duplicates.jpg', class: 'hero-image', height: 448, width: 688 %>
</section>
<section class="section hero-sub">
  <div class="narrative">
    <h1>Back up and restore your contacts.</h1>
    <p>6degrees backs up your contacts with unlimited storage. Restore them on any of your devices and never lose your contacts again.</p>
  </div>
  <%= image_tag 'hero_backups.jpg', class: 'hero-image', height: 448, width: 688 %>
</section>
<section class="footer section">
  <div class="narrative">
    <p><%= image_tag 'sixdegrees_logo_lg.png', height: 192, width: 192 %></p>
    <p>6degrees is made collaboratively and with love in sunny Singapore and techy Bangalore.</p>
    <p><a href="mailto:hello@sixdegreez.co">Say hello</a></p>
  </div>
</section>