---
title: It’s like your office in your pocket.
description: Hyper-connect staff, partners and customers with cross-platform enterprise directories.
keywords: 6degrees, sixdegrees, sixdegreez, address book, phonebook, contacts, contacts manager, enterprise
bodyclass: enterprise
---
<section class="section hero-primary enterprise">
  <div class="narrative">
    <h1>It&rsquo;s like your office
      <br>in your pocket.</h1>
    <p>Hyper-connect staff, partners and customers with cross-platform enterprise directories.</p>
    <div id="enterprise-cta">
      <a href="#" class="btn btn-primary btn-enterprise-cta">Sign Up</a>
    </div>
    <div id="enterprise-nav">
      <a href="#enterprise-features">Features</a> <a href="#enterprise-pricing">Pricing</a>
    </div>
  </div>
</section>
<section class="section-enterprise" id="enterprise-features">
  <div class="narrative">
    <h2>Features</h2>
    <div class="container">
      <div class="feature row">
        <h3>Let Employees see internal directories on mobile.</h3>
        <figure class="col-md-5 col-md-offset-2">
          <%= image_tag 'enterprise_feature1.jpg', class: 'img-responsive', height: 280, width: 480 %>
        </figure>
        <div class="col-md-4">
          <p>Set your employees free by giving them access to internal directories on their mobile. Instantly witness greater, easier internal communication and better information flow within your organization.</p>
        </div>
      </div>
      <div class="feature row">
        <h3>Create teams easily on our beautiful interface.</h3>
        <div class="col-md-4 col-md-offset-2">
          <p>Employees can create custom internal teams and share context-rich information with each other within the team - such as customer contacts, work schedules and even documents and spreadsheets.</p>
        </div>
        <figure class="col-md-5">
          <%= image_tag 'enterprise_feature1.jpg', class: 'img-responsive', height: 280, width: 480 %>
        </figure>
      </div>
      <div class="feature row">
        <h3>Always stay connected to customers.</h3>
        <figure class="col-md-5 col-md-offset-2">
          <%= image_tag 'enterprise_feature1.jpg', class: 'img-responsive', height: 280, width: 480 %>
        </figure>
        <div class="col-md-4">
          <p>Easily transfer customer relationships from one worker to another, and manage employee churn better. Let customers feel more connected to your teams by accessing the team's live contacts.</p>
        </div>
      </div>
      <div class="feature row">
        <h3>Secure your system with custom permissions.</h3>
        <div class="col-md-4 col-md-offset-2">
          <p>Employees' access to internal and external contacts controlled by senior admin person in a customized manner, depending on the hierarchy and divisions. Internal directories stay safe and secure.</p>
        </div>
        <figure class="col-md-5">
          <%= image_tag 'enterprise_feature1.jpg', class: 'img-responsive', height: 280, width: 480 %>
        </figure>
      </div>
      <div class="feature row">
        <h3>Easy, fast on-boarding and integration.</h3>
        <figure class="col-md-5 col-md-offset-2">
          <%= image_tag 'enterprise_feature1.jpg', class: 'img-responsive', height: 280, width: 480 %>
        </figure>
        <div class="col-md-4">
          <p>The 6degrees system integrates easily with your existing LDAP/ active directory architecture. You can also upload contacts from simple excel sheets or by using our web interface.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-enterprise" id="enterprise-pricing">
  <div class="narrative">
    <h2>Pricing</h2>
    <div class="container">
      <figure id="pricing-graphic">
        <%= image_tag 'pricing_graphic.png', class: 'hidden-xs', height: 196, width: 628 %>
        <div id="pricing-free">
          <h4>Free</h4>
          <p>for the first 10 employees</p>
        </div>
        <div id="pricing-paid">
          <h4>$10.00</h4>
          <p>per additional 10 employees</p>
        </div>
      </figure>
      <p>All plans include unlimited groups, storage and custom permissions. Paid plans billed monthly.</p>
      <div id="pricing-cta"><a href="#" class="btn btn-primary btn-enterprise-cta">Sign Up</a></div>
      <div id="pricing-faq">
        <h4>What types of payment do you accept?</h4>
        <p>We accept all major credit cards securely through PayPal.</p>
        <h4>Do I have to sign a long-term contract?</h4>
        <p>There’s no contract on the monthly packages — you just pay as you go, and you can cancel any time without penalty. You can choose to renew or cancel at the end of every year.</p>
        <h4>What’s your refund policy?</h4>
        <p>Our goal is to always be fair and reasonable. Please review our refund policy for details.</p>
      </div>
    </div>
  </div>
</div>
